body {
	


h1 {
   font-family: Arial;
   color: black;
   background-color:red;
   text-align: center;
} 

p {
  font-family:arial;
  line-height: 1.5em;
  text-indent: 30px;
  
}
  